<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Home</title>
</head>
<body>
    <h1>Welcome to the Madlibs Homepage</h1>
    <form action="/story">
        <input type="text" placeholder="type a place" name="place">
        <input type="text" placeholder="type a noun" name="noun">
        <input type="text" placeholder="type a verb" name="verb">
        <input type="text" placeholder="type a adjective" name="adjective">
        <input type="text" placeholder="type a plural noun" name="plural_noun">
        <input type="text" placeholder="type a story" name="story">
        <button>Gimme back my son! I mean submit!</button>
    </form>
</body>
</html>