<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the submit page</h1>
    <h3> the place you submitted is {{place}}</h3>
    <h3>the noun you submitted is {{noun}}</h3>
    <h3> the verb you submitted is {{verb}}</h3>
    <h3>the adj you submitted is {{adjective}}</h3>
    <h3>the plural noun you submitted is {{plural_noun}}</h3>
    <h3>The story you submitted is {{story}}</h3>
    <h1>here is your madlib {{madlib}}</h1>
    
</body>
</html>